<header></header>
<nav mat-tab-nav-bar>
    <a mat-tab-link
       routerLink="videos"
       routerLinkActive #rla="routerLinkActive"
       [routerLinkActiveOptions]="{exact: false}"
       [active]="rla.isActive">Videos</a>
    <a mat-tab-link
       routerLink="lctest"
       routerLinkActive #rla="routerLinkActive"
       [routerLinkActiveOptions]="{exact: false}"
       [active]="rla.isActive">LCTest</a>
    <a mat-tab-link
       routerLink="reddit"
       routerLinkActive #rla="routerLinkActive"
       [routerLinkActiveOptions]="{exact: false}"
       [active]="rla.isActive">R</a>
  <!--<ul>-->
    <!--<li routerLinkActive="activeLink"><a routerLink="/videos">Videos</a></li>-->
    <!--<li routerLinkActive="activeLink"><a routerLink="/lctest">LCTest</a></li>-->
    <!--<li routerLinkActive="activeLink"><a routerLink="/reddit">R</a></li>-->
  <!--</ul>-->
</nav>
<section>
  <router-outlet></router-outlet>
</section>

<!--<header style="margin-top: 5px;">-->
  <!--<nav>-->
    <!--<div class="nav-wrapper">-->
      <!--<ul>-->
        <!--<li routerLinkActive="green-background">-->
          <!--<a routerLink="/videos">Videos</a></li>-->
        <!--<li routerLinkActive="green-background">-->
          <!--<a routerLink="/lctest">LCTest</a></li>-->
      <!--</ul>-->
    <!--</div>-->
  <!--</nav>-->
<!--</header>-->
<!--<div>-->
  <!--<router-outlet></router-outlet>-->
<!--</div>-->
